@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';
@import '../../../scss/base/utilities';

input[required] + label,
input[required] + label:after,
input::-webkit-input-placeholder
 {
  content:'*';
  color: red;
}

input[required] + label:after {
  content:'*';
  color: red;
}

.section {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    display: flex;
    width: 100%;
justify-content: center;
    align-items: center;
    padding: 5rem 7rem;
    box-shadow: $box-shadow;
    line-height: 1;
    background-color: $color-white;
    border-radius: 3px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 70%;

    &--input {
      @include inputsStyling;
      padding-bottom: .6rem;
      margin: 1rem 0;
    }

    &--textarea {
      margin-top: 8rem;
      @include inputsStyling;
      resize: none;
      line-height: .8;
    }

    &--button {
      padding: .8rem 2rem;
      margin-top: 3rem;
      color: $color-white;
      background-color: $tertiary-color;
      border: none;
      max-width: 8rem;
      border-radius: 3px;
      box-shadow: .2rem .1rem .1rem rgba($grey-dark, .2);
      text-decoration: none;
      text-transform: uppercase;
      align-self: flex-end;
    }

    &--error {
      color: $primary-color;
      font-size: 1.2rem;
    }

    &--success {
      color: green;
      font-size: 1.2rem;
    }
  }
}
