<section class="section">
  <div class="container">
    <div class="section__box u-margin-top">
      <form action="" class="section__form">
        <input type="text" class="section__form--input" name="Name" placeholder="Name" required>
        <input type="text" class="section__form--input" name="Email" placeholder="Email" required>
        <input type="text" class="section__form--input" name="Message" placeholder="Message">
        <button class="section__form--button">Send</button>
      </form>
    </div>
  </div>
</section>
