@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/base/utilities';

* {
  color: $primary-color;
}

.header {
    background-color: $color-white;
    border-bottom: 1.3px solid $grey-shadow;

    &__logo-box {

      @include respond(tab-land) {
        margin: 3rem 1.2rem;
      }

      @include respond (phone) {
        display: flex;
        justify-content: center;
      }
    }

.navigation {
  &__list {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    line-height: 1;
    padding-bottom: 1rem;

    @include respond (phone) {
      display: flex;
      justify-content: space-around;
    }

    @include respond (phone-small) {
      display: flex;
      justify-content: center;
    }

  }
  &__item {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      display: inline;
      font-size: 1.2rem;
      font-weight: 600;
      color: $secondary-color;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 5rem;
      }


    }

    &__link {
      text-decoration: none;
      &:link,
      &:visited {
        color: $secondary-color;
      }
      &:hover,
      &:active,
      &:focus {
        color: $primary-color;
        padding-bottom: 0.75rem;
        border-bottom: 3px solid $primary-color;
      }
    }

      @include respond(tab-land) {
        margin: 0 1.2rem;
      }

      @include respond (phone-small) {
        justify-content: space-around;
      }
  }
}
