<header class="header">
  <div class="container">
    <div class="header__logo-box u-margin-bottom u-margin-top">
      <img src="../../assets/img/pgs-logo.png" alt="pgs logo" class="header__logo">
    </div>
    <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#" routerLink="/about-us">about us</a></li>
          <li class="navigation__item">
              <a class="navigation__link" href="#" routerLink="/skicams">skicams</a></li>
          <li class="navigation__item">
              <a class="navigation__link" href="#" routerLink="/contact">contact</a></li>
        </ul>
      </nav>
  </div>
</header>
