@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

:host {
  background-color: $color-white;
  border-bottom: 1.3px solid $grey-shadow;
  grid-column: 2 / 5;
  @include fullWidth;
  display: grid;
  @include gridTemplateColumns;

  @media only screen and (max-width: 715px) {
    grid-template-columns: minmax(1rem, auto) 1fr minmax(1rem, auto);
  }
}
.header {
  @include pageWidth;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  @media only screen and (max-width: 420px) {
    grid-template-columns: minmax(1rem, auto) 1fr minmax(1rem, auto);
  }
}

.logo {
  line-height: 0;
}

.navigation {
  grid-row: 2 / 3;
  justify-items: start;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-stretch: ultra-condensed;

    &-item {
      color: $secondary-color;
      cursor: pointer;

       &-link {
         text-decoration: none;
         color: $secondary-color;

         &:hover,
         &--active {
           color: $primary-color;
           padding-bottom: 1.2rem;
           border-bottom: 3px solid $primary-color;
         }
       }
    }
  }

  @media screen and (max-width: 715px) {
    grid-column: 1 / 3;
  }
}
