<header class="header">
  <div class="logo">
    <img src="../../../assets/img/pgs-logo.png" alt="pgs logo" class="logo-img">
  </div>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-list-item-link" href="#" routerLink="/about-us" routerLinkActive="navigation-list-item-link--active">about us</a></li>
      <li class="navigation-list-item">
        <a class="navigation-list-item-link" href="#" routerLink="/skicams" routerLinkActive="navigation-list-item-link--active">skicams</a></li>
      <li class="navigation-list-item">
        <a class="navigation-list-item-link" href="#" routerLink="/contact" routerLinkActive="navigation-list-item-link--active">contact</a></li>
    </ul>
  </nav>
</header>
