*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  // this definces what 1rem is
  font-size: 62.5%; // 10px

  @include respond(tab-land) { // width < 1200px ?
      font-size: 56.25%; // 9px
  }

  @include respond(tab-port) { // width < 900px ?
      font-size: 50%; //8px
  }

  @include respond(big-desktop) {
      font-size: 75%; // 12px
  }

}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: $font-roboto;

  @include respond(tab-port) {
      padding: 0;
  }
}


::selection {
  background-color: $primary-color;
  color: $color-white;
}
