body {
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: #000000;
  box-sizing: border-box;

}

.heading-primary {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: $secondary-color;
  padding-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 200;
  color: $grey-light;

}
