.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1166px;
  margin: 0 auto;
}

.u-margin-top { margin-top: 3rem; }
.u-margin-bottom { margin-bottom: 3rem; }
.u-flex-1 {
  flex:1;
}
