@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  @include card;
  .heading-primary {
    padding-top: 2rem;
    text-align: center;
  }

  &--date {
    display: flex;
    justify-content: flex-end;
    padding: 1rem .8rem;
    font-size: 1.1rem;
    color: $grey-light;
  }
  &--img {
    max-width: 100%;
    line-height: 1;
    height: 45rem;
    object-fit: cover;
    overflow: hidden;
  }
}
