// colors
$primary-color: #ff7726;
$secondary-color: #545454;
$tertiary-color: #2196f3;
$color-white: #ffffff;
$color-white-dirty: #f8f8f8;
$grey-light: #a1a1a1;
$grey-medium: #484848;
$grey-dark: #282828;
$grey-shadow: #dbdbdb;

// font
$default-font-size: 1.6rem;
$font-roboto: 'Roboto', sans-serif;

//shadow
$box-shadow: 0 .2rem .2rem rgba($grey-dark, .2);

// margins
$margin-standard: 3rem 1.2rem;

// breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 900px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 35em;
