$primary-color: #ff7726;
$secondary-color: #545454;
$color-white: #ffffff;
$color-white-dirty: #f8f8f8;
$grey-light: #a1a1a1;
$grey-medium: #484848;
$grey-dark: #282828;
$grey-shadow: #dbdbdb;
// font
$default-font-size: 1.6rem;
$font-roboto: 'Roboto', sans-serif;
