@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

:host {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  @include gridTemplateColumns;
  min-height: 100vh;
  background-color: $color-white-dirty;
}
