<main class="main">
    <div class="container ">
        <div class="main__row u-margin-top u-margin-bottom">
            <div class="card">
              <img src="../../assets/img/img-grid1.png" alt="grid1" class="card__img">
              <div class="card__content">
                <h1 class="heading-primary">Lorem Ipsum</h1>
                <p class="card__content__p">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</p>
              </div>
            </div>
            <div class="card">
              <img src="../../assets/img/img-grid2.png" alt="" class="card__img">
              <div class="card__content">
                  <h1 class="heading-primary">Lorem Ipsum</h1>
                  <p class="card__content__p">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/img-grid3.png" alt="" class="card__img">
                <div class="card__content">
                    <h1 class="heading-primary">Lorem Ipsum</h1>
                    <p class="card__content__p">Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.</p>
                  </div>
              </div>
        </div>
    </div>
  </main>
