@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

:host {
  grid-row: 5 / 6;
  @include fullWidth;
}

.footer {
  @include pageWidth;
  padding-top: 3rem;
  background-color: $grey-dark;
  box-shadow: 0 -.2rem .2rem 0 rgba($grey-medium, 0.2);
  color: $grey-light;
  display: grid;
  @include gridTemplateColumns;

  &-content {
    grid-column: 3 / 4;
    border-top: 1px solid $secondary-color;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
  }
}
