@import '../../../scss/abstracts/mixins';
@import '../../../scss/base/utilities';

.skicams {
  &__cardbox {
    display: flex;
    flex-direction: row;
    @include respond(tab-land) {
      margin: 3rem 1.2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      margin: 3rem 3rem;
    }
  }
}
