  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <label for="name"
           class="form-label"
           [hidden]="form.get('name').value">Name</label>
    <input type="text"
           class="form-input"
           name="Name" id="name"
           formControlName="name">

    <label for="email"
           class="form-label"
           [hidden]="form.get('email').value">Email</label>
    <input type="text"
           class="form-input"
           name="Email" id="email"
           formControlName="email">

    <textarea type="text"
              class="form-textarea"
              name="Message" placeholder="Message"
              id="message" formControlName="message"></textarea>
    <div [ngClass]="cssValidationClasses" *ngIf="isFormValidated">{{ message }}</div>

    <button type="submit"
            class="form-button">Send</button>
  </form>
