@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

:host {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  height: 100%;
  align-items: stretch;

  @media only screen and (max-width: 420px) {
    grid-template-columns: minmax(min-content, max-content);
  }
}

  .form {
    @include card;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 9rem;

    @media only screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      padding: 0 4rem;
    }

    &-input {
      @include inputsStyling;
      margin: 1rem 0;
      transition: all .3s;
      min-height: 3rem;
    }

    &-label {
      @include placeholder;
      transform: translateY(2.8rem);
      transition: all .3s ease-out;
      &:after {
        content: ' *';
        color: red;
      }
    }


    &-textarea {
      margin-top: 8rem;
      @include inputsStyling;
      resize: none;
      line-height: 1;
      &::placeholder {
        @include placeholder;
      }
    }

    &-button {
      cursor: pointer;
      outline: none;
      padding: 1rem 2.2rem;
      margin-top: 3rem;
      color: $color-white;
      background-color: $tertiary-color;
      border: none;
      max-width: 10rem;
      border-radius: .3rem;
      box-shadow: .2rem .1rem .1rem rgba($grey-dark, .2);
      text-decoration: none;
      text-transform: uppercase;
      align-self: flex-end;

      &:hover {
        background-color: darken($tertiary-color, 10%);
        transition: .5s;
      }
    }

    &-error {
      color: $primary-color;
      @include formMessage;
    }

    &-success {
      color: green;
      @include formMessage;
    }
}
