@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

:host {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  height: 100%;
  align-items: stretch;
}

  .form {
    @include card;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 9rem;

    &-input {
      @include inputsStyling;
      padding-bottom: .6rem;
      margin: 1rem 0;
      display: block;
      transition: all .3s;
    }

    &-label {
      color: $grey-light;
      font-size: 1.2rem;
      font-weight: 400;
      display: block;
      margin-top: .7rem;
      transform: translateY(-3.7rem);
      transition: all .3s ease-out;
      &:after {
        content: ' *';
        color: red;
      }
      &:hover,
      &:visited,
      &:active {
        opacity: 0;
        visibility: hidden;
        transform: translateY(3.7rem);
      }
    }


    &-textarea {
      margin-top: 8rem;
      @include inputsStyling;
      resize: none;
      line-height: .8;
    }

    &-button {
      cursor: pointer;
      outline: none;
      padding: 1rem 2.2rem;
      margin-top: 3rem;
      color: $color-white;
      background-color: $tertiary-color;
      border: none;
      max-width: 10rem;
      border-radius: .3rem;
      box-shadow: .2rem .1rem .1rem rgba($grey-dark, .2);
      text-decoration: none;
      text-transform: uppercase;
      align-self: flex-end;

      &:hover {
        background-color: darken($tertiary-color, 10%);
        transition: .5s;
      }
    }

    &-error {
      color: $primary-color;
      font-size: 1.2rem;
      min-height: 2rem;
    }

    &-success {
      color: green;
      font-size: 1.2rem;
    }
}
